# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods (if ever used)
Pods/

# Carthage (if ever used)
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# iOS device logs
*.ipa
*.dSYM.zip
*.dSYM

# User-specific
*.orig
*.rej
.DS_Store
.idea/
.vscode/
